body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root
{
  height: 100%;
}
.navbar
{
    background-color: #203040;
    margin: 0;
    padding: 0;
}
.navbar a{

    color: #ffff;
}
.card
{
  width: 100%;
}
.card a
{
  text-decoration: none;
  color: black;
}
.pprice
{
  color: rgb(248, 4, 4);
}
.announcment_bar
{
background-color: white;
color: red;
font-weight: bold;
text-transform: uppercase;
}
.product_price
{
  color: green;
}
.navbar-brand img
{
  width: 100px;
}
.rating span i
{
  color: #FFD700;
}
.total_reviews
{
  font-weight: bold;
}
.product_name
{
  text-transform: capitalize;
}